@import "tailwindcss";

:root {
  --background: #0d0914;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #9333ea;
  color: white;
}